<div class="bd-sidebar">
    <nav>
        <div class="bd-toc-item">
            <a class="bd-toc-link" [routerLink]="['/components']">
                <h4>DEMO Sample</h4>
            </a>
            <ul class="nav flex-column">
                <li *ngFor="let component of components" [class.active]="isActive(['/components', component.toLowerCase(), activeTab])">
                    <a [routerLink]="[component.toLowerCase()]">{{ component }}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>