<nav class="navbar navbar-inverse ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="nav-link" style="line-height: 50px; font-size: 20px;" routerLink="/">DND Demo</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-12 col-lg-3 hidden-md-down">
            <side-nav></side-nav>
        </div>
    </div>
</div>

<!-- <side-nav></side-nav>
<div class="container">
  <router-outlet></router-outlet>
</div> -->